<!-- <div>
    <div class="submit-form">
      <div *ngIf="!submitted">
        <div class="form-group">
          <label for="name">name</label>
          <input
            type="text"
            class="form-control"
            id="name"
            required
            [(ngModel)]="product.name"
            name="name"
          />
        </div>
  
        <div class="form-group">
          <label for="ownerName">OwnerName</label>
          <input
            class="form-control"
            id="ownerName"
            required
            [(ngModel)]="product.ownerName"
            name="ownerName"
          />
        </div>

        <div class="form-group">
            <label for="masterName">mastername</label>
            <input
              class="form-control"
              id="masterName"
              required
              [(ngModel)]="product.masterName"
              name="masterName"
            />
          </div>

          <div class="form-group">
            <label for="methodology">methodology</label>
            <input
              class="form-control"
              id="methodology"
              required
              [(ngModel)]="product.methodology"
              name="methodology"
            />
          </div>
          <div class="form-group">
            <label for="location">location</label>
            <input
              class="form-control"
              id="location"
              required
              [(ngModel)]="product.location"
              name="location"
            />
          </div>

        <button (click)="saveProduct()" class="btn btn-success">Submit</button>
      </div>
  
      <div *ngIf="submitted">
        <h4>Product was submitted successfully!</h4>
        <button class="btn btn-success" (click)="newProduct()">Add</button>
      </div>
    </div>
  </div> -->
